*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(181, 115, 115);
    color: black;
    padding: 10px;
}

.searchBar{
    height: 30px;
    width: 50%;
    outline: none;
    border: none;
    border-radius: 3px;
    padding: 10px;
}

.nav-a{
    border: 2px solid black;
    border-radius: 50px;
    padding: 7px;
}

.nav-image{
    height: 25px;
    width: 25px;
}
