* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

nav {
    position: sticky;
    top: 0;
    z-index: 1000;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 15px 8%;
    background: rgba(0,0,0,0.7);
    backdrop-filter: blur(10px);
}

nav h2 {
    font-size: 24px;
    font-weight: bold;
    font-style: italic;
}

nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    list-style: none;
}

nav a {
    font-size: 16px;
    text-decoration: none;
    position: relative;
    padding: 4px;
}

nav a::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 100%;
    bottom: 0;
    left: 0;
    transform: scaleX(0);
    transition: transform 0.5s ease-in-out;
    background-color: white;
}

nav a:hover::after {
    transform: scaleX(1);
}

#hero {
  display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: auto;
    padding: 60px 20px;
    gap: 40px;
}

#hero div:first-child {
    flex: 1;
}

#hero img {
    width: 300px;
    height: 300px;
}

#hero #intro {
    font-size: 20px;
    font-weight: 600;
    word-spacing: 4px;
}

#hero #name {
    font-size: 25px;
    font-weight: 700;
    word-spacing: 4px;
    color: rgba(237, 83, 28, 0.948);
    padding: 5px 0;
}

.gradient-title {
    font-size: 60px;
    font-weight: 800;
    background: linear-gradient(90deg, #ff7a57, #ffb199);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 10px;
}

#hero-para {
    font-size: 18px;
    font-weight: 500;
    word-spacing: 4px;
    padding: 20px 0;
}

.hero-btns {
    margin-top: 20px;
}

.primary {
    background: linear-gradient(90deg, #ff7a57, #ffb199);
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    margin-right: 10px;
    cursor: pointer;
}

.primary:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(255, 122, 87, 0.6);
}

#about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: auto;
    max-width: 1200px;
}

#about h1 {
    font-size: 45px;
    font-weight: 700;
    padding: 10px 0;
    text-align: center;
}

#about p {
    font-size: 25px;
    font-weight: 500;
    word-spacing: 4px;
    padding: 20px 0;
    text-align: center;
    color:#ff7a57;
}

#about li{
    padding: 8px 0;
    font-size: 17px;
    color: #ccc4c1;
}

#about li::marker{
    color:#ff7a57
}

#skills,
#projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: auto;
    max-width: 1200px;
}

#skills h1,
#projects h1 {
    font-size: 40px;
    font-weight: 700;
    padding: 20px 0;
}

#skills p {
    font-size: 18px;
    font-weight: 500;
    word-spacing: 4px;
    padding-bottom: 10px;
    text-align: center;
    color: rgba(255, 255, 255, 0.874);
}

.skill-container{
    display: grid;
    grid-template-columns: repeat(4,2fr);
    gap: 20px;
    padding: 20px;
}

.skill-container button {
    border: 1px solid #ff7a57;
    background: rgba(255, 122, 87, 0.1);
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
}

.skill-container button:hover {
     background: rgba(255, 121, 87, 0.249);
}

.project-list {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 40px 0;
}

.project-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;

    padding: 30px;
    border-radius: 15px;

    background: rgba(255, 255, 255, 0.03);
    backdrop-filter: blur(10px);

    transition: all 0.3s ease;
}

.project-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 0 20px rgba(255, 122, 87, 0.3);
}

.project-card .left {
    flex: 1;
}

.project-card h3 {
    font-size: 24px;
    color: #ff7a57;
    margin-bottom: 10px;
}

.project-card p {
    color: rgba(255,255,255,0.8);
    margin-bottom: 15px;
}

.project-card button {
    margin-right: 10px;
    padding: 8px 16px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    background: rgba(255, 122, 87, 0.1);
}

.project-card button:hover{
     background: rgba(255, 121, 87, 0.238);
}

.project-card a{
    text-decoration: none;
}
.project-card .right {
    flex: 1;
}

.project-card img {
    width: 100%;
    border-radius: 10px;
}

footer {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    padding: 10px 20px;
    gap: 40px;
}

footer h2 {
    font-size: 24px;
    font-weight: bold;
    font-style: italic;
}

footer ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    list-style: none;
}

footer a {
    font-size: 16px;
    text-decoration: none;
    position: relative;
    padding: 4px;
}

.social {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.social img {
    width: 30px;
    height: 30px;
}

hr {
  border: none;
  height: 2px;
  margin: 50px auto;
  width: 80%;

  background: linear-gradient(
    90deg,
    transparent,
    #ff7a57,
    transparent
  );
}

@media (max-width: 1000px) {
    #hero img {
        width: 150px;
        height: 150px;
    }
}

@media (max-width: 800px) {
    #hero {
        flex-direction: column;
        text-align: center;
    }

    #hero div {
        padding: 10px;
    }

    #hero img {
        display: none;
    }

    .skill-container{
        grid-template-columns: repeat(3,2fr);
    }

    .about-skills {
        grid-template-columns: 1fr;
    }

    .project-card{
        flex-direction: column;
    }
}

@media (max-width: 520px){
    nav{
        justify-content: center;
    }

    nav h2{
        display: none;
    }

    .skill-container{
        grid-template-columns: repeat(2,1fr);
    }
} 